In [ ]:
# Analysis of consecutive strikeouts throughout MLB history
>

- toc: false
- badges: true
- comments: false
- categories: [sports, data science]
- image:

## Motivation
On 09/17/2019, Yu Darvish recorded eight consecutive strikeouts for the Chicago Cubs. The game announcers hailed this as an incredible streak, and noted that the all-time MLB record is ten consecutive strikeouts by Tom Seaver in 1970. Given that one of the most significant changes in baseball over the past several decades is the increase in strikeout rate, I was curious to find out how much more likely such an occurrence is today versus, say, 50 years ago. In the end, I find that occurence of K streaks is growing exponentially, and Seaver's feat was roughly 1,164 times less likely than Darvish's.

In [5]:
#collapse-hide
import pandas as pd
%matplotlib inline
pd.options.display.float_format = '{:.2f}'.format

# begin by populating a dataframe with MLB pitching statistics for every year on record
cols_to_use = ['Year', 'SO', 'BF']
raw_stats = 'C:/Users/tmaul/Documents/GitHub/website/assets/raw_data/mlb_league_stats_by_season.txt'
k_data_by_season = pd.read_table(raw_stats, sep=',', usecols=cols_to_use)
# filter out data prior to 1900 -- for roundness, plus the data from those years was fairly unstable
k_data_by_season = k_data_by_season[k_data_by_season.Year>=1900]
# calculate strikeout rate for the average pitcher
k_data_by_season['K_rt'] = k_data_by_season.SO/k_data_by_season.BF
k_data_by_season

     Year   SO    BF  K_rt
0    2020 8.68 37.03  0.23
1    2019 8.81 38.39  0.23
2    2018 8.48 38.08  0.22
3    2017 8.25 38.13  0.22
4    2016 8.03 38.01  0.21
..    ...  ...   ...   ...
116  1904 3.72 36.04  0.10
117  1903 3.58 36.64  0.10
118  1902 2.98 36.96  0.08
119  1901 3.14 37.62  0.08
120  1900 2.37 37.54  0.06

[121 rows x 4 columns]